<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- CSS -->
    <link rel="stylesheet" href={% static "assets/css/base.css" %}/>
    <link rel="stylesheet" href={% static "assets/css/main.css" %}/>
    <link rel="stylesheet" href={% static "assets/css/chat.css" %}/>
    <link rel="stylesheet" href={% static "assets/css/timchoice.css" %}/>
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Рочев</title>
</head>
<div id="myfond_gris" opendiv=""></div>
<body>
<header>
    <nav class="nav  navbar-light br " style="background-color: #e3f2fd;">
        {% block header %}{% endblock %}
    </nav>

</header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="wrapper">

    {% block main %}{% endblock %}

</div>
</div>
<div>
    <div align="center" class="future" style=" ">
        <div style="background: #e3f2fd; height: 30px"><cite title="Source Title">©2020 Корпоративный мессенджер</cite>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/javas.js' %}"></script>
</body>
</html>
