{% extends "main/im.html" %}
{% load static %}

{% block chat %}
    <div style=" width: 100%">
        <div class="heder_chat">
            <div class="name_channel"><p class="cms" style="font-size:20px ">{{ name_traid }}</p></div>
        </div>
        <div class="dialog">
            {% for i in sms %}
                <div class="sms"><p class="cms" style="margin-bottom: 0; "> {{ i.name }} {{ i.datetime }}</p>
                    <p style="margin-bottom: 0; padding-left: 10px; font-size: .875rem;width: 450px;font-family: 'Noto Sans';">{{ i.text }}</p>

                </div>
            {% endfor %}
        </div>
        <div class="chat-input">
            <div class="container" style="display: flex">
                <button type="button" class="btn btn-light input "
                        style="background: #fafbfc; width: 30px; padding: 0; margin-right: 5px" accesskey="1"><img
                        style="width: 30px"
                        src="{% static 'assets/im/paperclip-attach-symbol.png' %}">
                </button>

                <div id="text" class="chat-imput-text" tabindex="0" aria-multiline="true" role="textbox"
                     contenteditable="true"></div>
                <button id='input1' type="button" class="btn btn-light input " accesskey="1"><img style="width: 20px"
                                                                                                  src="{% static 'assets/im/ic-send_97591.png' %}">
                </button>

            </div>
{#            <div style="display: flex">#}
{#                <div style="padding-left:45px; padding-top: 10px"><img style="width: 60px"#}
{#                                                                       src="{% static 'assets/im/Document_40926.png' %}">#}
{#                </div>#}
{#                <div style="padding-top: 20px">#}
{#                    <a href=""><p style="margin: 0">Течническое задание 1.1.docx</p></a>#}
{#                    <p style="color: #666666; margin: 0">87 Кб</p>#}
{#                </div>#}
{#                <div style="padding-top: 30px; padding-left: 580px">#}
{#                    <img style="width: 20px"#}
{#                         src="{% static 'assets/im/close_icon-icons.com_48658.png' %}">#}
{##}
{#                </div>#}

            </div>
        </div>


    </div>
    </div>
    <script src="{% static "assets/js/chat2.js" %}"></script>
    <script>$(document).ready(function () {
        activate_chat({{ team_id }}, {{ thread_id }})
    });</script>

{% endblock %}