{% extends "base/base.html" %}
{% load static %}
{% block main %}




    <link rel="stylesheet" href={% static "assets/css/login.css" %}/>
    <div class="container-xl" style="width: 1200px">
    <div class="row align-items-start">
        <div class="col>">
            <img class="baner" src='{% static "assets/im/zeml.jpg" %}'>
        </div>
        <div class="col-4">
            <div class="login">
                <div class="text-center">
                    <form class="form-signin" action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <br>
                        <br>
                         <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" name='email' id="inputEmail" class="form-control"
                               placeholder="Email address"
                               required=""
                               autofocus="">
                        <br>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name='password' id="inputPassword" class="form-control"
                               placeholder="Password"
                               required="">
                        <br>
                        <button class="btn btn-lg btn-dark btn-block" type="submit">Вход</button>
                        <div class="row">
                            <div class="col">
                                <br>
                                <a class="active" href="#"> Забыли пароль? </a>
                            </div>
                            <div>{{ login_error }}</div>


                        </div>
                    </form>
                    <form class="form-signin" action="{% url 'register2' %} " method="post">
                            {% csrf_token %}
                            <br>
                            <br>
                            <br>
                            <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
                            <label for="inputEmail" class="sr-only">Email address</label>
                            <input type="email" name='email' id="inputEmail" class="form-control"
                                   placeholder="Email address"
                                   required=""
                                  >
                            <br>
                            <div><p>{{ erroremail }}</p></div>
{#                            <label for="inputPassword" class="sr-only">Password</label>#}
{#                            <input type="password" name='password' id="inputPassword" class="form-control"#}
{#                                   placeholder="Password"#}
{#                                   required="">#}
                            <br>
                            <button class="btn btn-lg btn-dark btn-block" type="submit">Регистрация</button>

                        </form>
                        <div>{{ error }}</div>

                </div>

            </div>
        </div>
    </div>
    </div>

{% endblock %}
