{% extends "base/base.html" %}

{% load static %}
{% block header %}

   <div align="" class=" cms container" ><p style="font-size: 20px ; padding-top: 5px; margin-bottom: 5px; padding-left: 100px"> Корпоративный мессенджер</p></div>

{% endblock %}



{% block main %}
        <div class="container">
            <div class="text-center" style="width: 400px; margin-left: auto; margin-right: auto">
                <form class="form-signin" action="{% url 'register2' %} " method="post">
                    {% csrf_token %}
                    <br>

                    <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input name='email' id="inputEmail" class="form-control"
                           placeholder="Email address"
                           required=""
                           value="{{ email }}"
                           type="hidden"

                    >
                    <br>

                    <label for="first_name" class="sr-only">Имя</label>
                    <input name='first_name' id="first_name" class="form-control"
                           placeholder="Имя"
                           required=""
                    >
                    <br>
                    <label for="last_name" class="sr-only">Фамилия</label>
                    <input name='last_name' id="last_name" class="form-control"
                           placeholder="Фамилия"
                           required=""
                    >
                    <br>


                    <div><p>{{ erroremail }}</p></div>
                    <label for="inputPassword" class="sr-only">Пароль</label>
                    <input type="password" name='password' id="inputPassword" class="form-control"
                           placeholder="Пароль"
                           required="">
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить</button>

                </form>
                <div>{{ error }}</div>

            </div>
        </div>
{% endblock %}